extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner WELCOME, Fellas! 
    div.Message
      div.Title
        h3 Making the Best
        h1 Tasks For Devs
      span.Details Access the Green Bit Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!